.top-container {
  background-color: #351f39;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  background-color: #726a95;

}

body {
  margin: 0;
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 200%;
}

.btn {
  color: #fff48f;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Kaushan Script', cursive;
  font-size: 5.625rem;
  color:  #66BFBF;
  text-shadow: 5px 5px black;
}

h2 {
  font-family: 'Cinzel', serif;
  color: #11999E;
}

h3 {
  font-family: 'Cinzel', serif;
  color: #11999E;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 500px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.Michael {
  height: 200px;
  border-radius: 50%;
  padding-top: 1px;

}

.gamer {
  height: 200px;
}

.programmer {
  font-size: 2.5rem;
  color:  #66BFBF;
  text-shadow: 2px 2px black;
  font-weight: normal;
  margin-top: 80px;
}

.mountain {
  vertical-align: bottom;
}

.footer-link {
  color: #11999E;
}

.profile {
    background-color: #726a95;
}

.skills {
  background-color: #8b5e83;
}

.h2-top {
  margin-top: auto;
}

.p-end {
  margin-bottom: auto;
}

.contact-me {
  background-color: #351f39;
}
