.top-container {
  background-color: #351f39;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

body {
  margin: 0;
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 200%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Kaushan Script', cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Cinzel', serif;
}

h3 {
  font-family: 'Cinzel', serif;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 500px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.Michael {
  height: 200px;
  border-radius: 50%;

}

.gamer {
  height: 200px;
}

.programmer {
  font-size: 2.5rem;
}

.profile {

}
